html
head
  title LIST EC2 INSTANCE
  script(src='https://sdk.amazonaws.com/js/aws-sdk-2.519.0.min.js')
  script(type='text/javascript' src='link.js')
body
table(width='100%' border='1')
  tr
    th Instance
    th Status
    th Start/Stop
  tr
    td #{instanceId}
    td #{status}
    td
      button(onclick='startIns()') START
      button(onclick='stopIns()') STOP
